body {
	background-color: #f5f6f8;
}

.page {
	display: flex;
	height: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	--text-color: #28122e;
	--text-color-s: #acacac;
	--text-color-h: #713c80;
	font-family: "Inconsolata", monospace;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container {
	text-align: left;
	border-left: 1px solid var(--text-color-s);
	color: var(--text-color);
}

.content {
	margin-left: 3rem;
	margin-top: 3rem;
}

.block {
	margin-top: 3rem;
}

h3 {
	font-weight: 400;
}

h4 {
	font-family: "EB Garamond", serif;
	font-weight: 400;
	font-style: italic;
	text-decoration: overline;
}

a {
	color: var(--text-color-h);
}

table {
	border-collapse: collapse;
	line-height: 2rem;
}

.table-left {
	color: var(--text-color-s);
	border-right: 1px solid var(--text-color-s);
	padding-right: 2rem;
}

.table-right {
	padding-left: 1rem;
}

.tooltip .tooltiptext {
	opacity: 0;
	background-color: var(--text-color-s);
	color: var(--text-color);
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 6px;
	margin-left: 1rem;

	position: absolute;
	z-index: 1;
}

.tooltip:focus .tooltiptext {
	-webkit-animation: fadeinout 1.5s linear forwards;
	animation: fadeinout 1.5s linear forwards;
	opacity: 0;
}

@-webkit-keyframes fadeinout {
	50% {
		opacity: 1;
	}
}

@keyframes fadeinout {
	50% {
		opacity: 1;
	}
}

.subtable td {
	padding-bottom: 0.7rem;
	line-height: 1.5rem;
}

.subtable .table-left {
	font-size: 0.8rem;
}

.subtable .table-right {
	font-size: 0.9rem;
	padding-left: 1.5rem;
}

.credits {
	padding-top: 2rem;
	padding-bottom: 1rem;
	padding-right: 1rem;
	text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
	body {
		font-size: 0.9rem;
	}
	.credits {
		margin-top: auto;
		margin-left: auto;
	}
	.content {
		margin-left: 1rem;
	}
}

@media only screen and (min-width: 1000px) {
	.credits {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}
